@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}


/* background images */
.primary-background-img{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kanten-web.appspot.com/o/primary-img.jpg?alt=media&token=60f1a4d5-d484-42c4-807c-9f32551877dc');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secondary-background-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kanten-web.appspot.com/o/secondary-img.jpg?alt=media&token=cf401050-a933-4ebc-833a-78887cf410f8');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secondary-background-img-light {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kanten-web.appspot.com/o/secondary-img-light.jpg?alt=media&token=ea0579bf-0680-48dd-9564-5d47fae0345f');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tertiary-background-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kanten-web.appspot.com/o/tertiary-img.jpg?alt=media&token=9380b573-4687-43e0-97cc-c859584426a3');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*styling text*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headline-font);
  color: var(--black-headline);
  line-height: 1;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  color: var(--black-text);
  font-family: var(--text-font);
}

/* making all p responsive for smaller screens */
@media only screen and (max-width: 850px) {
  p {
    font-size: 15px;
  }
}


/*styling button*/
button {
  transition: 0.3s;
}

/* black button */
.button1 {
  background-color:var(--primary-color);
  position: relative;
  color: var(--white-text);
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  font-family: var(--text-font);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.button1:hover {
  clip-path: var(--edge-button);
}


/* responsive button */
@media only screen and (max-width: 850px) {
  .button1 {
    font-size: 15px;
  }
}


/* white button */
.button2 {
  background-color:var(--secondary-color);
  position: relative;
  color: var(--black-text);
  padding: 10px 50px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  font-family: var(--text-font);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.button2:hover {
  clip-path: var(--edge-button);
}


/* responsive button */
@media only screen and (max-width: 850px) {
  .button2 {
    font-size: 15px;
  }
}

/* 

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
 */

