:root {
  --headline-font: "oswald", sans-serif;
  --text-font: "verdana-pro", sans-serif;
}

/*color swatches for Kanten color palette*/
:root {
  /* main colors */
  --primary-color: #000;
  --secondary-color: #f9f9f9;
  --extra-light: #707070;

  /*color for text*/
  --white-headline: #f9f9f9;
  --white-text: #cfd0d3;

  --black-headline: #000;
  --black-text: #363636;

  /*background color*/
  --background-color: #000;

  --grey-check: #d1d5db;
  --red-cross: #ef4444;
  --green-check: #4ade80;
  --green-check-box: #dcfce7;
}

/* clip path */
:root {
  /* for boxes */
--edge-box: polygon(90px 0, 100% 0, 100% 100%, 0 100%, 0 15%);

/* for buttons */
--edge-button: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 41%);

--edge-event-card: polygon(90px 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.edge-box {
  clip-path: var(--edge-box);
}

.edge-button {
  clip-path: var(--edge-button);
}

.edge-event-card {
  clip-path: var(--edge-event-card);
}

.white-headline {
  color: var(--white-headline);
}

.white-text {
  color: var(--white-text);
}

.light-text {
  color: var(--extra-light);
}

.black-headline {
  color: var(--black-headline);
}

.black-text {
  color: var(--black-text);
}

.white-bg {
  background-color: var(--white-headline);
}

.black-bg {
  background-color: var(--black-headline);
}


/* styling of body to have less work */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  font-size: 16px;
  font-family: var(--headline-font);
  list-style-type: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* background images */
.primary-background-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kanten-web.appspot.com/o/primary-img.jpg?alt=media&token=60f1a4d5-d484-42c4-807c-9f32551877dc');
  background-repeat: no-repeat;
  background-position: center;
}
