
/* font-family */

/* Headlines: metalista */
/* Text: macho */


:root {
  --headline-font: metalista-web, serif;
  --text-font: macho, sans-serif;
}

/*color swatches for Kanten color palette*/
:root {
  /* main colors */
  --primary-color: #333333;
  --secondary-color: #f9f9f9;

  --first-color: #A12028;
  --second-color: #EFDA10;
  --third-color: #6DB3E3;
  --forth-color: #77539C;


  /* hover color */
  --hover-color: #b66c43;

  /*color for text*/
  --white-headline: #f9f9f9; /*color used for background and text*/
  --white-text: #f3f3f3;

  --black-headline: #333333;
  --black-text: #444444;

  /*background color*/
  --background-color: #333333;

  --grey-check: #d1d5db;
  --red-cross: #ef4444;
  --green-check: #4ade80;
  --green-check-box: #dcfce7;
}

/* clip path */
:root {
  /* for boxes */
--edge-box: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 15%);

/* for buttons */
--edge-button: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 41%);

--edge-event-card: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* styling of body to have less work */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  font-size: 16px;
  font-family: var(--headline-font);
  list-style-type: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

