@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}



/*styling text*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headline-font);
  color: var(--black-headline);
  line-height: 1;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}


p {
  font-size: 15px;
  color: var(--black-text);
  font-family: var(--text-font);
}

.five-percent {
  padding-right: 5%;
  padding-left: 5%;
}

.ten-percent {
  padding-right: 10%;
  padding-left: 10%;
}

.fifteen-percent {
  padding-right: 15%;
  padding-left: 15%;
}

/*styling button*/
button {
  transition: 0.3s;
}

/* black button */
.button1 {
  background-color:var(--primary-color);
  color: var(--white-text);
  font-size: 16px;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  font-family: var(--text-font);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}

.button1:hover {
  background-color: var(--black-text);
}


/* responsive button */
@media only screen and (max-width: 850px) {
  .button1 {
    font-size: 15px;
  }
}


/* white button */
.button2 {
  border: 1px solid var(--black-headline);
  background-color:var(--white-headline);
  position: relative;
  color: var(--black-text);
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  font-family: var(--text-font);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}

.button2:hover {
  background-color: var(--white-text);
}

.footer-hr {
  border-color: var(--black-text)
}


/* responsive */
@media only screen and (max-width: 1030px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}